$borderColor: purple;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
}

body {
	overflow: hidden;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#slide1 {
	background-color: rgb(204, 166, 172);
}

#slide2 {
	background-color: rgb(115, 128, 189);
}

#slide3 {
	background-color: rgb(115, 189, 121);
}

#slide4 {
	background-color: rgb(189, 136, 115);
}

#slide5 {
	background-color: rgb(186, 115, 189);
}

#slide6 {
	background-color: rgb(115, 189, 115);
}

#slide7 {
	background-color: rgb(182, 189, 115);
}

#slide8 {
	background-color: rgb(115, 189, 173);
}

#slide9 {
	background-color: rgb(141, 77, 143);
}

.slides {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 300vw;
}

.slide {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	h2 {
		font-size: 7rem;
		position: relative;
		border: 1px solid $borderColor;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
			transition: .3s ease-in-out;
		}

		&::before {
			top: -10px;
			left: -10px;
			border-top: 1px solid $borderColor;
			border-left: 1px solid $borderColor;
		}

		&::after {
			right: -10px;
			bottom: -10px;
			border-bottom: 1px solid $borderColor;
			border-right: 1px solid $borderColor;
		}

		&:hover::before,
		&:hover::after {
			width: calc(100% + 19px);
			height: calc(100% + 19px);
		}
	}

	a {
		position: absolute;
		bottom: 2rem;
		right: 2rem;
		display: grid;
		place-items: center;
		background-color: #000;
		height: 5rem;
		width: 5rem;
		border-radius: 50%;
		color: #ccc;
	}
}